html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    
  }

body {
    overflow-x: hidden;
   
}

a {
    color: #044BD9;
    text-decoration: none;
    
}

a:hover {
    color: #1865fd;
    text-decoration: none !important;
    border-bottom: 0px solid #FDFDFA;  
}

/*---ANIMATION on start ---*/

.row {
    width: 100%;
    max-width: 1666px;
    margin: 0 auto;
    position: relative;

}

.title {
  width: 100%;
  max-width: 1666px;
  margin: auto;
  position: relative;
    
 }


